.contact-us {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px $small-padding-x 0 $small-padding-x;
  
  @media (min-width: 992px) {
    padding: 0 $padding-x;
    flex-direction: row;
  }

  article {
    // flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
    @media (min-width: 992px) {
      width: 50%;
      flex-grow: 1;
    }

    &:nth-of-type(1) {

      margin-bottom: 40px;
      
      @media (min-width: 992px) {
        margin-bottom: 0px;
      }

      h1 {
        font-family: $title-font;
        font-size: $title-size;
      }

      p {
        width: 100%;
        
        @media (min-width: 992px) {
          width: 80%;
        }
      }
    }

    &:nth-of-type(2) {

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .form-group {
        display: flex;
        gap: 6px;
      }

      .form-control {
        width: 100%;
        height: 39px;
        
        input, textarea {
          width: 100%;
          height: 100%;
          border: 1.5px solid black;
          padding: 0 10px;
        }
        
        textarea {
          resize: vertical;
        }
      }

      .form-control-textarea {
        width: 100%;
        
        textarea {
          width: 100%;
          height: 78px;
          border: 1.5px solid black;
          padding: 0 10px;
        }
      }

      .form-submit {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          width: 200px;
          height: 39px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba($color: $blue, $alpha: .8);
          transition: all .3s ease-out;
          color: white;
          border: none;
          cursor: pointer;
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .3);
          
          &:hover {
            background-color: rgba($color: $blue, $alpha: 1);
          }
        }
      }

    }
  }

}